<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <div>
            <div>
                <span class="logo"><strong>ToMercado.com.br</strong></span>
                <input type="text" class="searchInput" placeholder="Buscar...">
                <button class="searchButton">Buscar</button>
            </div>
        </div>
    </header>
    <section class="logoImg">
        <img src="/static/img/ToMercado.jpg" alt="">
    </section>
    <section class="pageBody">
        <br>
        <div class="produto">
            <img src="static/img/Caderno Turquesa Tilibra.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/caderno-turquesa-tilibra')">
        </div>
        <div class="produto">
            <img src="static/img/bolsa de couro.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/bolsa-de-couro-arzon')">
        </div>
        <div class="produto">
            <img src="static/img/cadeira de madeira.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/cadeira-de-madeira-texas')">
        </div>
        <div class="produto">
            <img src="static/img/cadeira gamer verde.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/cadeira-gamer-xzone-verde')">
        </div>
        <div class="produto">
            <img src="static/img/ventilador.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/ventilador-de-mesa-mondial')">
        </div>
        <div class="produto">
            <img src="static/img/panela.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/panela-tramontina-vermelha')">
        </div>
        <div class="produto">
            <img src="static/img/escova de cabelo.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/escova-de-cabelo-ricca-oval-roxa')">
        </div>
        <div class="produto">
            <img src="static/img/tenis all stars.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/tenis-all-stars')">
        </div>
        <div class="produto">
            <img src="static/img/Camisa social masculina.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/camisa-social-preta')">
        </div>
        <div class="produto">
            <img src="static/img/bola de futebol.jpg" alt="" class="imgProduto" onclick="redirecionamento('/page/bola-de-futebol')">
        </div>
    </section>
</body>
</html>
<!-- caderno bolsa cadeira ventilador  panela escova de cabelo -->